# Introduction to Pandas_ML

Pandas_ML is a package which integrates scikit-laern, pandas and Xgboost library into one package
It means you does not need to import these libraries individually.

To install the pandas_ml, run this command

In [3]:
!pip install pandas_ml # ! is used because we are running it from jupyter notebook.

Requirement already satisfied: pandas_ml in d:\anaconda\lib\site-packages (0.6.1)
Requirement already satisfied: enum34 in d:\anaconda\lib\site-packages (from pandas_ml) (1.1.6)
Requirement already satisfied: pandas>=0.19.0 in d:\anaconda\lib\site-packages (from pandas_ml) (0.23.4)
Requirement already satisfied: python-dateutil>=2.5.0 in d:\anaconda\lib\site-packages (from pandas>=0.19.0->pandas_ml) (2.7.3)
Requirement already satisfied: pytz>=2011k in d:\anaconda\lib\site-packages (from pandas>=0.19.0->pandas_ml) (2018.5)
Requirement already satisfied: numpy>=1.9.0 in d:\anaconda\lib\site-packages (from pandas>=0.19.0->pandas_ml) (1.15.1)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.5.0->pandas>=0.19.0->pandas_ml) (1.11.0)

I have already installed already that's why you are see that "requirement already satisfied"

So to import the pandas_ml, you need to run the command

In [5]:
import pandas_ml as pdml
import pandas as pd

In above cell we are importing pandas individually because we have to import the data set to solve or problem

In this tutorial we would use the heart disease data set from kaggle

# Load the Data

In [16]:
df=pd.read_csv('heart.csv')

# Initialize the ModelFrame

In [17]:
mf=pdml.ModelFrame(df.to_dict())

In above cell you have seen new **pdml.ModelFrame** 

It is a data structure of pandas_ml and it's understand the dictionary dtype and then convert into its own data structure that is
**ModelFrame**

In [18]:
mf.head() #same as pandas have

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [19]:
mf.tail() # same as pandas have

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [20]:
mf.shape # same as pandas have

(303, 14)

In [21]:
mf.target

In above cell we have run **mf.target** and it's give as blank output which means that we does not have set the target(Dependent variable i.e, Y )

To know that target is set or not in ModelFrame, to do that just run this command
 **mf.has_target()**.
 
it will give as boolean output i.e True or False

In [22]:
mf.has_target()

False

To define the target
**mf.target_name= 'column_name'**

In [23]:
mf.target_name='target'

In [27]:
mf.target.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [28]:
mf.dtypes #same as pandas have

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [30]:
mf.data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In above cell's output, you have seen that all feature are showing except column 'target' 
which means that pandas_ml set the feature when you define the target column while running **mf.target_name= '__'**

# scaling the data

In [31]:
mf.data=mf.data.preprocessing.scale()

In [33]:
mf.data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0.952197,0.681005,1.973123,0.763956,-0.256334,2.394438,-1.005832,0.015443,-0.696631,1.087338,-2.274579,-0.714429,-2.148873
1,-1.915313,0.681005,1.002577,-0.092738,0.072199,-0.417635,0.898962,1.633471,-0.696631,2.122573,-2.274579,-0.714429,-0.512922
2,-1.474158,-1.468418,0.032031,-0.092738,-0.816773,-0.417635,-1.005832,0.977514,-0.696631,0.310912,0.976352,-0.714429,-0.512922
3,0.180175,0.681005,0.032031,-0.663867,-0.198357,-0.417635,0.898962,1.239897,-0.696631,-0.206705,0.976352,-0.714429,-0.512922
4,0.290464,-1.468418,-0.938515,-0.663867,2.082050,-0.417635,0.898962,0.583939,1.435481,-0.379244,0.976352,-0.714429,-0.512922

In above cell you seen the output.

Here **pandas_ml** skips some steps and directly scaled the data on **z-score**

# Split data into traing and test set

In [34]:
mf_train,mf_test=mf.model_selection.train_test_split(test_size=0.3)

In above cell you have see that we are directly able to split the data set into training and test set without importing scikit-learn library's package

In [35]:
mf_train.head()

,target,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
46,1,-1.143291,0.681005,1.002577,0.478391,-0.217683,-0.417635,-1.005832,1.327358,-0.696631,-0.896862,0.976352,-0.714429,-0.512922
139,1,1.062485,0.681005,-0.938515,-0.206964,0.323431,-0.417635,0.898962,-1.952430,1.435481,-0.724323,-0.649113,0.265082,1.123029
98,1,-1.253580,0.681005,1.002577,-0.092738,1.328356,-0.417635,0.898962,0.540209,-0.696631,0.742260,0.976352,0.265082,-0.512922
9,1,0.290464,0.681005,1.002577,1.049520,-1.512490,-0.417635,0.898962,1.064975,-0.696631,0.483451,0.976352,-0.714429,-0.512922
8,1,-0.260980,0.681005,1.002577,2.306004,-0.913400,2.394438,0.898962,0.540209,-0.696631,-0.465514,0.976352,-0.714429,1.123029

In [36]:
mf_train.shape

(212, 14)

In [37]:
mf_test.head()

,target,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
148,1,-1.143291,0.681005,1.002577,-0.663867,-0.391612,-0.417635,0.898962,0.846322,-0.696631,-0.896862,0.976352,-0.714429,-0.512922
118,1,-0.922713,-1.468418,0.032031,-1.520560,-0.816773,-0.417635,0.898962,0.977514,-0.696631,-0.896862,0.976352,-0.714429,-0.512922
73,1,-0.371269,0.681005,-0.938515,0.478391,0.284780,-0.417635,-1.005832,1.589741,1.435481,-0.896862,0.976352,-0.714429,-0.512922
6,1,0.180175,-1.468418,0.032031,0.478391,0.922521,-0.417635,-1.005832,0.146634,-0.696631,0.224643,-0.649113,-0.714429,-0.512922
14,1,0.400752,-1.468418,1.973123,1.049520,0.709940,2.394438,-1.005832,0.540209,-0.696631,-0.034166,0.976352,-0.714429,-0.512922

In [39]:
mf_test.shape

(91, 14)

In [40]:
mf_train.target_name

'target'

In [41]:
mf_test.target_name

'target'

# using random forest classifier

In [42]:
model=mf.ensemble.RandomForestClassifier(n_estimators=100,max_depth=4)

**fit the model**

In [43]:
mf_train.fit(model)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=4, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

**predict the output on test data**

In [44]:
prediction=mf_test.predict(model)

In [45]:
prediction.head()

148    1
118    1
73     1
6      1
14     1
dtype: int64

In [47]:
mf_test.target.head()

148    1
118    1
73     1
6      1
14     1
Name: target, dtype: int64

To know that how good our model is predicted, we will know it with the help of accuracy_score

In [48]:
mf_test.metrics.accuracy_score(model)

0.7692307692307693

In [49]:
from pandas_ml import ConfusionMatrix

In [50]:
confu_mat= ConfusionMatrix(mf_test.target.values,prediction.values)

In [51]:
confu_mat

Predicted  False  True  __all__
Actual
False         28    12       40
True           9    42       51
__all__       37    54       91

In this notebook we have just seen that how to use the **pandas_ml**, the model can also be hypertuned to increase the accuracy of model, And preprocessing of the data could also be done like check wheather data is imbalance or not